#! /bin/bash
sudo yum install git -y
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
. ~/.nvm/nvm.sh
nvm install --lts
node -e "console.log('Running Node.js ' + process.version)"
git clone https://github.com/AnonyIIMessiah/check.git
cd check
cd todo-frontend
cd src
echo const API_URL = "18.208.194.37" export default API_URL >host.js
cd ..
npm i --force
npm start

