#! /bin/bash
sudo yum install git -y
sudo curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
. ~/.nvm/nvm.sh
nvm install --lts
sudo node -e "console.log('Running Node.js ' + process.version)"

cd /opt
sudo git clone https://github.com/AnonyIIMessiah/check.git
 cd check
 cd todo-backend


 
 sudo chown -R ec2-user:ec2-user /opt/check
echo DB_HOST = employeems.cwkvlc9cbwwf.us-east-1.rds.amazonaws.com  >> .env
echo DB_USER = admin  >> .env
echo DB_PASSWORD = 12345678  >> .env
echo DB_DATABASE = employeeMS >> .env
npm i --force
npm start

